<div class="container">
  <h3>Atributos: </h3>
  <div class="row">
    <div class="col-sm-4">
      <ul>
        <li>
          Nombre {{autos.nombres}}
        </li>
        <li>
          Apellido  {{autos.apellidos}}
        </li>
        <li>
          Fecha de nacimiento: {{autos.fechaNacimiento}}
        </li>
      </ul>

    </div>
    <div class="col-sm-3">
      <ul>
        <li>
          Licencia Valida: {{autos.licenciaValida}}
        </li>
        <li>
         id: {{autos.id}}
        </li>
        <li>
          Numero autos:  {{autos.numeroAutos}}
        </li>
      </ul>
    </div>
    <div class="col-sm-5">
      <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/07/08/15/sebastian-vettel.jpg" alt="" style="height: 200px; width: 300px">
    </div>
  </div>
</div>
