<div class="container">
<div class="row" style="margin-left: 15px">
  <div class="col-sm-4" *ngFor="let info of autos" style="margin-right: 15px; margin-top: 15px">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Auto 1</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Modelo {{info.nombres}}</li>
    <li class="list-group-item">Marca {{info.apellidos}}</li>
  </ul>
  <img class="card-img-top" src="https://eldiariony.files.wordpress.com/2017/12/screen-shot-2017-12-22-at-6-08-24-pm.png?w=859" alt="Card image cap">
</div>
  </div>
</div>
</div>
