<app-info-hijos></app-info-hijos>

<div class="container">
  <div class="row">
    <div class="col-sm-3" *ngFor="let info of autos; let indice=index" style="margin-right: 15px; margin-top: 15px">
      <div class="card" style="width: 21rem;">
        <div class="row">
          <div class="col-sm-6">
            <img class="card-img-top" src="https://eldiariony.files.wordpress.com/2017/12/screen-shot-2017-12-22-at-6-08-24-pm.png?w=859" alt="Card image cap">
          </div>
          <div class="col-sm-6">
            <div class="col-sm-8 ">
              {{info.nombreMarca}}
            </div>
            <div class="col-sm-6 ">
              {{info.nombreModelo}}
            </div>
            <a routerLink="/modeloConductor" style="align-content: center" (click)="seleccionar(indice)">Seleccionar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4"> </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-secondary" style="margin-top: 40px">Cargar mas</button>
    </div>
    <div class="col-sm-4"> </div>
  </div>
</div>




