<div class="container">
  <h3>Atributos: </h3>
  <div class="row" *ngFor="let info of autos">
    <div class="col-sm-3" >
      <ul>
        <li>
          Nombre del modelo: {{info.nombreModelo}}
        </li>
        <li>
         Marca:  {{info.nombreMarca}}
        </li>
        <li>
          Color Uno: {{info.colorUno}}
        </li>
      </ul>

    </div>
    <div class="col-sm-3">
      <ul>
        <li>
          Color Dos: {{info.colorDos}}
        </li>
        <li>
          {{info.chasis}}
        </li>
        <li>
         Chasis:  {{info.anio}}
        </li>
      </ul>
    </div>
    <div class="col-sm-6">
      <img src="https://eldiariony.files.wordpress.com/2017/12/screen-shot-2017-12-22-at-6-08-24-pm.png?w=859" alt="" style="height: 200px; width: 360px">
    </div>
  </div>
</div>

<div class="container">
  <div class="row" style="margin-left: 15px">
    <div class="col-sm-3" *ngFor="let info of hijos" style="margin-right: 15px; margin-top: 15px">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/07/08/18/gettyimages-993851436.jpg?w968h681" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Conductores</h5>
          <p class="card-text">Modelo {{info.nombres}}</p>
          <p class="card-text">Modelo {{info.apellidos}}</p>
          <a routerLink="/modeloConductor">Seleccionar  </a>
        </div>
      </div>
    </div>
  </div>
</div>

